*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: "Playfair-sc";
    src: url("/static/PlayfairDisplaySC-Regular.ttf");
}
@font-face {
    font-family: "Playfair";
    src: url("/static/PlayfairDisplay-Regular.ttf");
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
h2 {
    font-family: Playfair;
    text-align: center;
    font-size: 1.5em;
   padding: 0.5em;
}
/*Home page with parallax scroll effect*/
.parallax {
    height: 100vh;
    width: 100vw;
    background-image: url('images-irie/Cafe\ in\ Paris.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}
#home-page2 h2 {
   font-family: Playfair !important; 
   font-size: 1.5em;
   padding: 0.5em;
}
#irielogo  img{
   width: 20%;
   padding: 1em;
}
#introcontainer-yellowbox {
    width: 30%;
    height: 30%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    z-index: 2;
    position: absolute;
    top: 56%;
    left: 15%;
}
#introcontainer-greenbox {
    width: 30%;
    height: 30%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    top: 52%;
    left: 13%;
}
#introcontainer-yellowbox h1 {
    font-family: Playfair-sc;
    font-size: 2.5em;
    color: #1e1e1e;
    padding: 0.3em;
}
/*The beginning page*/
#the-beginning {
    min-height: 200vh;
    width: 100vw;
    background-color: #abcb9c;
}
#the-beginning h2 {
    font-family: Playfair-sc;
    text-align: center;
    padding-top: 2em;
    color: #1e1e1e;
}
.beginning-imagebox-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.beginning-imagebox img {
    width: 18%;
    height: 48%;
    position: absolute;
    z-index: 3;
    border-radius: 30px;
}
.yellowbox1 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 9%;
    top: 226%;
}
.greenbox1 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 11%;
    top: 230%;
}
#imagebox1 {
    left: 13%;
    top: 234%;
}
.yellowbox2 {
    width: 18%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 41%;
    top: 226%;
}
.greenbox2 {
    width: 18%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 41%;
    top: 230%;
}
#imagebox2 {
    left: 41%;
    top: 234%;
}
.yellowbox3 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    right: 9%;
    top: 226%;
}
.greenbox3 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    right: 11%;
    top: 230%;
}
#imagebox3 {
    right: 13%;
    top: 234%;
}
.yellowbox4 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 9%;
    top: 324%;
}
.greenbox4 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 11%;
    top: 320%;
}
#imagebox4 {
    left: 13%;
    top: 318%;
}
.yellowbox5 {
    width: 18%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 41%;
    top: 324%;
}
.greenbox5 {
    width: 18%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 41%;
    top: 320%;
}
#imagebox5 {
    left: 41%;
    top: 318%;
}
.yellowbox6 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    right: 9%;
    top: 324%;
}
.greenbox6 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    right: 11%;
    top: 320%;
}
#imagebox6 {
    right: 13%;
    top: 318%;
}
.greenline {
    width: 0.3vw;
    height: 5vh;
    margin-right: 1em;
    background-color: #7FB069;
}
.hover-content {
    position: absolute;
    left: 9%;
    top: 287%;
    padding: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    opacity: 0;
    bottom: -50px;
    display: flex;
}
.beginning-imagebox:hover .hover-content{
    bottom: 0; /* Slide up to appear */
    opacity: 1;
}
.beginning-imagebox {
    cursor: pointer;
}
#content1 {
    left: 9%;
    top: 285%;
}
#content2 {
    left: 41%;
    top: 285%;
}
#content3 {
    left: 69%;
    top: 285%;
}
#content4 {
    left: 9%;
    top: 379%;
}
#content5 {
    left: 41%;
    top: 379%;
}
#content6 {
    left: 69%;
    top: 379%;
}
/*Timeline page */
#timeline-page {
    width: 265vw;
    height: 265vh;
    background-color: #F4E8D9;
}
#timeline-page h2 {
    text-align: left;
    margin-left: 43vw;
    padding-top: 2em;
}
/*Timeline container*/
        .timeline-container {
            overflow: hidden;
            position: sticky;
            top: 0;
            height: 100vh;
            scroll-behavior: smooth;
        }
        .timelinebar {
            width: 270vw;
            height: 8vh;
            position: absolute;
            background-color: #FFF996;
            border: 2px solid #7FB069;
            margin-left: -1em;
        }
        
        .timeline {
            display: flex;
            flex-direction: row;
            gap: 80px;
            margin-left: 1em;
            position: absolute;
            top: 5%;
            height: 100%;
            width: 265vw;
            will-change: transform;
        }

        /* Timeline Section */
        .timeline-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
        }
        .diamond_arrow_line {
            position: absolute;
            top: 6.6%;
        }

        .timeline-section h3 {
            font-size: 24px;
            color: #7FB069; 
            margin-bottom: 10px;
            z-index: 2;
            padding: 0.5em;
        }

        .timeline-event h4 {
            font-size: 24px;
            color: #7FB069;
            font-family: Playfair-sc;
            margin-left: 2em;
            margin-top: 1em;
        }

        /* Image Container */
        .image-container {
            display: flex;
            gap: 10px;
            margin-top: 2em;
        }

        .image-container img {
            width: 20vw;
            height: 60vh;
            border-radius: 50px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            z-index: 2;
        }

        .image-container img:hover {
            transform: scale(1.02);
        }

/* Before & after page */
#before-after-page {
    width: 100vw;
    height: 100vh;
    background-color: #7FB069;
    z-index: 5;
}
/*CTA page*/
#CTA-page {
    background-color: #F4E8D9;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal parts */
    height: 100vh; 
    width: 100vw; 
}
#left-side img{
    border-top-left-radius: 500px;
    width: 50vw;
    height: 100vh;
}
#right-side {
    margin: auto;
    display: block;
    padding: 10em; 
    font-family: Playfair;
}
#CTA-button {
    width: 10vw;
    height: 3vw;
    background-color: #7FB069;
    border-radius: 30px;
    padding: 0.8em 2.5em 2em 2.5em;
    margin-top: 2em;
    margin-left: 8em;
}
#right-side a {
    text-decoration: none;
    color:#1e1e1e;
}