*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: "Playfair-sc";
    src: url("/static/PlayfairDisplaySC-Regular.ttf");
}
@font-face {
    font-family: "Playfair";
    src: url("/static/PlayfairDisplay-Regular.ttf");
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
h2 {
    font-family: Playfair;
    text-align: center;
    font-size: 2.5em;
    padding: 0.5em;
}
/*Home page with parallax scroll effect*/
.parallax {
    height: 100vh;
    width: 100vw;
    background-image: url('images-irie/building.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}
#home-page2 h2 {
   font-family: Playfair !important; 
   font-size: 1.5em;
   padding: 0.5em;
   color: #87623A;
   text-align: left;
}
#irielogo  img{
   width: 25%;
   padding: 1em;
}
#introcontainer-yellowbox {
    width: 30%;
    height: 30%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    z-index: 2;
    position: absolute;
    top: 56%;
    left: 15%;
}
#introcontainer-greenbox {
    width: 30%;
    height: 30%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    top: 52%;
    left: 13%;
}
#introcontainer-yellowbox h1 {
    font-family: Playfair-sc;
    font-size: 2.5em;
    color: #87623A;
    padding: 0.3em;
}
/*The beginning page*/
#the-beginning {
    min-height: 200vh;
    width: 100vw;
    background-color: #abcb9c;
}
#the-beginning h2 {
    font-family: Playfair-sc;
    text-align: center;
    padding-top: 1.5em;
    color: #1e1e1e;
}
.beginning-imagebox-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.beginning-imagebox img {
    width: 18%;
    height: 48%;
    position: absolute;
    z-index: 3;
    border-radius: 30px;
}
.yellowbox1 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 9%;
    top: 226%;
}
.greenbox1 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 11%;
    top: 230%;
}
#imagebox1 {
    left: 13%;
    top: 234%;
}
.yellowbox2 {
    width: 18%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 41%;
    top: 226%;
}
.greenbox2 {
    width: 18%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 41%;
    top: 230%;
}
#imagebox2 {
    left: 41%;
    top: 234%;
}
.yellowbox3 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    right: 9%;
    top: 226%;
}
.greenbox3 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    right: 11%;
    top: 230%;
}
#imagebox3 {
    right: 13%;
    top: 234%;
}
.yellowbox4 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 9%;
    top: 324%;
}
.greenbox4 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 11%;
    top: 320%;
}
#imagebox4 {
    left: 13%;
    top: 318%;
}
.yellowbox5 {
    width: 18%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    left: 41%;
    top: 324%;
}
.greenbox5 {
    width: 18%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 41%;
    top: 320%;
}
#imagebox5 {
    left: 41%;
    top: 318%;
}
.yellowbox6 {
    width: 20%;
    height: 50%;
    background-color: #FFF996;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    right: 9%;
    top: 324%;
}
.greenbox6 {
    width: 20%;
    height: 50%;
    background-color: #7FB069;
    padding: 1em;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    right: 11%;
    top: 320%;
}
#imagebox6 {
    right: 13%;
    top: 318%;
}
.greenline {
    width: 0.3vw;
    height: 5vh;
    margin-right: 1em;
    background-color: #7FB069;
}
.hover-content {
    position: absolute;
    left: 9%;
    top: 287%;
    padding: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    opacity: 0;
    bottom: -50px;
    display: flex;
}
.textbox {
    font-family: Playfair;
    width: 20vw;
    text-wrap: wrap;
    text-align: justify;
}
.beginning-imagebox:hover .hover-content{
    bottom: 0; /* Slide up to appear */
    opacity: 1;
}
.beginning-imagebox {
    cursor: pointer;
}
#content1 {
    left: 9%;
    top: 285%;
}
#content2 {
    left: 41%;
    top: 285%;
}
#content3 {
    left: 69%;
    top: 285%;
}
#content4 {
    left: 9%;
    top: 379%;
}
#content5 {
    left: 41%;
    top: 379%;
}
#content6 {
    left: 69%;
    top: 379%;
}
/*Timeline page */
#timeline-page {
    width: 265vw;
    height: 265vh;
    background-color: #F4E8D9;
}
#timeline-page h2 {
    text-align: left;
    margin-left: 41vw;
    padding-top: 1.5em;
}
/*Timeline container*/
        .timeline-container {
            overflow: hidden;
            position: sticky;
            top: 0;
            height: 100vh;
            scroll-behavior: smooth;
        }
        .timelinebar {
            width: 270vw;
            height: 8vh;
            position: absolute;
            background-color: #FFF996;
            border: 2px solid #7FB069;
            margin-left: -1em;
        }
        
        .timeline {
            display: flex;
            flex-direction: row;
            gap: 80px;
            margin-left: 1em;
            position: absolute;
            top: 5%;
            height: 100%;
            width: 265vw;
            will-change: transform;
        }

        /* Timeline Section */
        .timeline-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
        }
        .diamond_arrow_line {
            position: absolute;
            top: 6.6%;
        }

        .timeline-section h3 {
            font-size: 24px;
            color: #7FB069; 
            margin-bottom: 10px;
            z-index: 2;
            padding: 0.5em;
        }

        .timeline-event h4 {
            font-size: 24px;
            color: #7FB069;
            font-family: Playfair-sc;
            margin-left: 2em;
            margin-top: 1em;
        }

        /* Image Container */
        .image-container {
            display: flex;
            gap: 10px;
            margin-top: 2em;
        }

        .image-container img {
            width: 20vw;
            height: 60vh;
            border-radius: 50px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            z-index: 2;
        }

        .image-container img:hover {
            transform: scale(1.02);
        }

/* Before & after page */
#before-after-page {
    width: 100vw;
    height: 100vh;
    background-color: #7FB069;
    transition: height 0.5s ease; /* Smooth height animation */
}
#before-after-page.expand {
    height: 200vh;
}
    /*Pile of photos animation*/
    .photo-pile {
        position: relative;
        width: 40vw; 
        height: 40vh; 
        cursor: pointer;
        margin: auto;
        top: 10%;
        left: 5%;
        animation: float 3s ease-in-out infinite; /* Apply the floating animation */
    }
    /* Add floating animation to the entire pile */
    @keyframes float {
        0%, 100% {
            transform: translateY(0); /* Default position */
        }
        50% {
            transform: translateY(-20px); /* Move up slightly */
        }
    }
    /* Photo styles */
    .photo {
        position: absolute;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        border: 1px solid #FFF996;
        transition: transform 0.5s ease, box-shadow 0.3s ease, z-index 0.3s ease;
    }
    .photo-pile img {
        width: 30vw;
        height: 60vh;
    }
    /* Individual photo initial positions */
    .photo1 { transform: rotate(2deg); z-index: 1; }
    .photo2 { transform: rotate(-5deg); z-index: 2; }
    .photo3 { transform: rotate(7deg); z-index: 3; }
    .photo4 { transform: rotate(-10deg); z-index: 4; }
    .photo5 { transform: rotate(5deg); z-index: 5; }
    
    /* Hover effect: fan out */
    .photo-pile.spanned .photo1 { left: -450px; z-index: 1; transform: rotate(0deg); width: 25vw; height: 60vh;}
    .photo-pile.spanned .photo2 { left: 22px; z-index: 2; transform: rotate(0deg); width: 25vw; height: 60vh;}
    .photo-pile.spanned .photo3 { left: 500; z-index: 3; transform: rotate(0deg); width: 25vw; height: 60vh;}
    .photo-pile.spanned .photo4 { left: -300px; top: 600px; z-index: 4; transform: rotate(0deg); width: 25vw; height: 60vh;}
    .photo-pile.spanned .photo5 { left: 380px; top: 600px; z-index: 5; transform: rotate(0deg); width: 25vw; height: 60vh;}

    /* Hover effect for showing the second image */
    .photo-container #after-photo-1,  .photo-container #after-photo-2, .photo-container #after-photo-3, .photo-container #after-photo-4, .photo-container #after-photo-5{
        opacity: 0; /* Hide the after image */
    }
    .photo-container #before-photo-1, .photo-container #before-photo-2, .photo-container #before-photo-3, .photo-container #before-photo-4, .photo-container #before-photo-5{
        opacity: 1; /*Show the first image */
    }
    .photo-container:hover #before-photo-1, .photo-container:hover #before-photo-2, .photo-container:hover #before-photo-3, .photo-container:hover #before-photo-4, .photo-container:hover #before-photo-5 {
        opacity: 0;
    }
    .photo-container:hover #after-photo-1,  .photo-container:hover #after-photo-2, .photo-container:hover #after-photo-3, .photo-container:hover #after-photo-4, .photo-container:hover #after-photo-5{
        opacity: 1;
    }
    #reset-button {
        width: 10vw;
        height: 3vw;
        background-color: #FFF996;
        color: #1e1e1e;
        font-family: Playfair;
        border-radius: 30px;
        padding: 1em;
        border: none;
        cursor: pointer;
        position: sticky;
        top: 89%;
        left: 45.8%;
        margin-bottom: 2em;
    }
    /* Show the reset button when the photos are fanned out */
    #before-after-page .photo-pile.spanned ~ #reset-button {
        display: block;
    }
    #reset-button:hover {
        background-color: #E6AA68; /* Darker shade on hover */
    }
/*CTA page*/
#CTA-page {
    background-color: #F4E8D9;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal parts */
    height: 100vh; 
    width: 100vw; 
}
#left-side img{
    border-top-left-radius: 500px;
    width: 50vw;
    height: 100vh;
}
#right-side {
    margin: auto;
    display: block;
    padding: 10em; 
    font-family: Playfair;
}
#CTA-button {
    width: 10vw;
    height: 3vw;
    background-color: #7FB069;
    border-radius: 30px;
    padding: 0.7em 2.5em 2em 2.5em;
    margin-top: 2em;
    margin-left: 8em;
    cursor: pointer;
}
#CTA-button:hover {
    background-color: #E6AA68;
}
#right-side a {
    text-decoration: none;
    color:#1e1e1e;
}